@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

/* remove all default styling on links */
 a,
 a:hover,
 a:focus,
 a:active {
     text-decoration: none;
     color: inherit;
 }

body{
    margin: 0;
    font-family: 'Raleway',
    sans-serif;
    text-align: center;
}
body.index-page{
    background-image: url("./img/home-banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    overflow: hidden;
}


/* ______________Navigation styling */

nav{
    position: fixed;

    width: 100%;
    box-sizing: border-box;
    padding: .25rem 5rem;

    background-color: rgba(6, 33, 68, 0.385);
    box-shadow: 5px 0 25px 0 #010f1ee3;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo{
    width: 7rem;
}
#nav-links{
    list-style: none;
    display: flex;
    align-items: center;
}
#account-links{
    display: flex;
    align-items: center;
}
.nav-link{
    font-weight: 500;
    margin-right: 2.5rem;
}
.nav-link.active{
    color: #ef3845;
}
#account-links .nav-link{
    padding: .5rem 1rem;
    border-radius: 20px;
}
#nav-register-link{
    background-color: #ef3845;
    color: white;
}
#nav-login-link{
    background-color: white;
    color: black;
}
#nav-invitations-img{
    height: 1.5rem;
    margin-right: -.75rem;
    cursor: pointer;
}
.player-nav-container-link{
    display: flex;
    align-items: center;
}
.user-nav-links-container{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px 3px 0 #132232b3;
    margin-top: 4rem;
    margin-right: 8rem;
    padding: 0.8rem 1rem;
    border-radius: 3px;
    text-align: left;
    z-index: 3;
}
.nav-link.welcome{
    cursor: pointer;
}
.user-nav-links-container > a{
    display: block;
    margin-bottom: 1rem;
    color: black;
}
.user-nav-links-container > .logout{
    margin-bottom: 0;
    background-color: #ef3845;
    color: white;
    padding: 0.5rem 0.75rem;
    width: max-content;
    border-radius: 5px;
}
/* _____________Navigation styling */



/* _____________ Home Page Styling*/
.index-page main{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

#home-banner{
    color: white;
    text-align: center;
    padding: 45vh 0;
    scroll-snap-align: start;
}

h2{
    font-weight: 700;
}

#home-search{
    padding: .5rem .75rem;
    width: 21.5rem;
    border-radius: 15px;
    border-width: 1px;
    font-family: 'Raleway',
    sans-serif;
    outline: none;
}

#why-teamup--section {
    scroll-snap-align: center;
}
/* Styles the header of the why-section */
#why-teamup--section h2{
    margin-bottom: 3rem;
}

/* The class is for the container element of all 3 cards */
#why-section-cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-top: 4rem;
    margin-bottom: 13rem;
}

.why-section-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 40%;
    flex-shrink: 0;
    
    border-radius: 10px;
    padding: 5rem 0.6rem;
    margin: 0 2rem;

    font-size: 1.2rem;
    font-weight: 700;
    background-size: contain;
    
    /* uses a box shadow to create a color overlay on the background image */
    box-shadow: inset 0 0 0 2000px rgb(110 110 110 / 54%);
}

.why-section-card:nth-child(1){
    background-image: url("./img/why-section-card-1.jpg");
    background-color: rgba(240, 248, 255, 0.713);
}
.why-section-card:nth-child(2){
    background-image: url("./img/why-section-card-2.jpg");
}
.why-section-card:nth-child(3){
    background-image: url("./img/why-section-card-3.jpg");
}

/* this style only applies to buttons in the Why TeamUp Section */
.why-section-card button{
    color: white;
    font-weight: 700;
    font-size: 2rem;

    /* Removes the default background color and and border that usually comes with html buttons */
    background-color: transparent;
    border: none;

    /* transforms the mouse pointer into a hand whenever the user hovers their mouse obver the button */
    cursor: pointer;
}

/* This style applies to the text in the why-section-cards */
.why-section-card p{
    margin: 0 1.5rem;
}


footer{
    background: #ef3845;
    color: white;
    padding: 0.75rem;
    margin-top: 4rem;
}
/* _____________ Home Page Styling*/



/* _____________ Pllayers n Team Page Styling*/
.players-page nav, .teams-page nav{
    color: white;
}
.page-header{
    margin-top: 0;
    margin-bottom: .5rem;
    padding-top: 8rem;
    padding-bottom: 3rem;

    background-image: url("./img/why-section-card-3.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.620);

    /* color: white; */
}
.results-page-list{
    display: flex;
    justify-content: end;
    margin-right: 5rem;
    margin-bottom: .5rem;
}
ul.page-numbers{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* The styles will apply both to the arrows and the numbers */
.arrow,
.page-numbers > li {
    cursor: pointer;
    margin-right: 0.25rem;
    background-color: #e3e1e1;
    border-radius: 50%;
    width: 1.5rem;
    box-sizing: border-box;
    height: 1.5rem;
    text-align: center;
    line-height: 1.4;
}
.page-numbers>li.active{
    background-color: #ef3845;
    color: white;
}

.page-main-body{
    display: flex;
    background-color: #e3e1e1;
}

.side-section{
    background-color: white;
    margin-right: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 1px;
    margin-block-end: 1px;
}

.side-section h3{
    margin-bottom: .25rem;
}

.side-section .search-container{
    position: relative;
    margin: 0 1rem;
    margin-bottom: 2rem;
}
.side-section .search-icon{
    width: 1rem;
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
}
.side-section .search-input{
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    padding-left: 2rem;
    background-color: #e7e7e7;
    border: none;
    border-radius: 15px;
    outline: none;
}

.search-selection-criteria{
    margin: 1rem;
    margin-bottom: 2rem;
}
.search-selection-criteria .header{
    background-color: #bfbfbf;
    border-bottom: 1px solid rgb(61, 61, 61);
    border-radius: 3px;
    padding: .5rem;
}
.search-selection-criteria .body{
    background-color: #e2e2e2;
    padding-top: .5rem;
    border-radius: 3px;
    padding-left: .5rem;
    border: 1px solid #bfbfbf;
}
.search-selection-criteria h4{
    margin: 0;
    flex-grow: 1;
}
.search-selection-criteria > span, 
.search-selection-criteria .selection-option{
    display: flex;
    align-items: center;
}
.search-selection-criteria .selection-option{
    padding-bottom: .5rem;
    cursor: pointer;
}
.search-selection-criteria p{
    margin: 0;
    flex-grow: 1;
}

.search-selection-criteria .selection-option .check{
    opacity: 0;
}
.search-selection-criteria .selection-option.active .check{
    opacity: 1;
}


.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: .75rem;
}

.player-card{
    background-color: white;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    height: max-content;
}

.player-card-img{
    width: 8rem;
    height: 3rem;
    /* the line ensures that the image does loose its aspect ratio since we've set both a width and height on the image */
    object-fit: cover; 
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* targets the header/name in the player card */
.player-card h4{
    margin-top: 0;
    margin-bottom: 0;
}
/* And this targets the rest of the text in the player card */
.player-card p{
    margin: 0;
}

.players-page footer, .teams-page footer{
    margin-top: 0rem;
}
/* _____________ Pllayers n Team Page Styling*/

/* _____________ Forums Page Styling*/
.forums-topic-title{
    background-color: #ef3845;
    color: white;
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}
.forums-topic-options{
    /* puts each of the button in its on line */
    font-family: 'Raleway',
    sans-serif;
    display: block;
    width: 50%;
    margin: auto;
    background-color: #bfbfbf;
    border: none;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    border-radius: 7px;
}

.forums-page footer,
.view-forum-page  footer,
.player-profile-page footer,
.login-page footer,
.invitations-page footer,
.index-page footer {
    /* Since the content on the page is not a lot this ensures that the footer is always at the bottom */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
/* _____________ Forums Page Styling*/

/* _____________ Create Forums Page Styling*/
.create-forum-input-label,
.create-forum-input,
#forum-type-select,
#create-forum-submit{
    /* this again everything on the craete forums page is in its own line */
    display: block;
}

.create-forum-input-label{
    margin-top: 2rem;
    font-weight: 700;
    font-size: 18px;
}

.create-forum-input{
    font-family: 'Raleway',
    sans-serif;
    background-color: #bfbfbf;
    border: none;
    outline-width: 1px;
    outline-color: #ef3845;
    padding: .5rem;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    margin-top: .5rem;
}
#forum-type-select{
    width: 20rem;
    margin: auto;
    margin-top: .5rem;
    padding: 1rem;
    background-color: #bfbfbf;
    outline-color: #ef3845;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.forum-type-select-option{
    padding: 1rem;
}
#create-forum-submit{
    width: max-content;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: #ef3845;
    color: white;
    padding: .75rem 2rem;
    border: none;
    border-radius: 10px;
}
.create-forums-page footer{
    margin-top: 0;
}
/* _____________ Create Forums Page Styling*/

/* _____________ Forums-Topics-View Page Styling*/
.forums-topic-page .forums-topic-title{
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.forums-topic-row{
    display: flex;
    background-color: #bfbfbf;
    padding: .5rem;
    width: 50%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 1.51rem;
    border-radius: 2px;
    cursor: pointer;
}
.forums-topic-letter{
    margin: 0;
}
.forums-topic-topic{
    flex: 1;
    text-align: center;
    margin: 0;
}
/* _____________ Forums-Topics-View Page Styling*/

/* _____________ View-forum Page Styling*/
.forum-topic-actual-text{
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    border-radius: 10px;
    background-color: #bfbfbf;
    padding: 2rem 3rem;
    line-height: 2rem;
    /* font-weight: 700; */
    text-align: justify;
}
.forum-topic-view-back-btn{
    width: 5rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .75rem 1rem;
    border-radius: 10px;
    background-color: #ef3845;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-family: 'Raleway',
    sans-serif;
}
.create-forums-page footer {
    margin-top: 0;
}
/* _____________ View-forum Page Styling*/

/* _____________ Player-Profile Page Styling*/
.player-profile-page{
    text-align: left;
}
.player-profile-page nav{
    box-shadow: 5px 0 25px 0 #010f1e29;
}
.player-profile-page nav{
    position: static;
}

.player-main-details{
    margin-top: 4rem;
    margin-left: 15rem;
}
.player-profile-page .player-name,
.player-profile-page .player-game,
.player-profile-page .player-platform{
    margin: 0;
}
.player-profile-page .player-game,
.player-profile-page .player-platform{
    color: #ef3845;
}
.player-page--main-main{
    display: flex;
    margin-left: 22rem;
}
.player-profile-page .player-profile-picture{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: top center;
    margin-right: 2rem;
}
.player-profile-page .detail-header{
    margin-bottom: 0;
}
.player-profile-page .detail-text{
    margin-bottom: 2rem;
    margin-top: .5rem;
}
.leave-message-button-container {
    display: flex;
    justify-content: end;
}
#leave-a-message-btn {
    padding: 0.75rem 1rem;
    cursor: pointer;
    background-color: #ef3845;
    color: white;
    border: none;
    border-radius: 10px;
}
/* _____________ Player-Profile Page Styling*/

/* _____________ Register Page Styling*/
.register-main-main,
.login-main-main {
    width: 450px;
    margin: auto;
    margin-top: 2rem;
}
.login-main-main{
    margin-top: 7rem;
}
.register-page .details-row,
.login-page .details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
}
.register-details-input,
.login-details-input {
    background-color: #bfbfbf;
    padding: .5rem;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 5px;
    width: 15rem;
    outline-width: 1px;
    outline-color: #ef38453d;
    font-size: 15px;
}
#register-submit-input,
#login-submit-input,
#login-register-btn{
    padding: .75rem .5rem;
    background-color: #ef3845;
    color: white;
    border-radius: 20px;
    width: 7rem;
    cursor: pointer;
}
#login-register-btn{
    background-color: #bfbfbf;
    color: black;
    margin-right: 1rem;
    font-family: 'Raleway',
    sans-serif;
}
.details-row.submit{
    display: flex;
    justify-content: space-between;
}
.register-error-label,.login-error-label{
    color: #ef3845;
    font-style: italic;
}
.register-page footer,
.login-page footer {
    margin-top: 1rem;
}
/* _____________ Register Page Styling*/


/* _____________ create-player-card & create-team-card Page Styling*/
/* this selects every element in the page under the main-main secton, puts them in their on line */
.create-player-card-main-main,
.create-team-card-main-main {
    width: 40%;
    margin: auto;
}
.create-player-card-main-main > *,
.create-team-card-main-main>* {
    display: block;
}

.create-player-card-profile-placeholder,
.create-team-card-profile-placeholder {
    width: 7rem;
    margin: auto;
    margin-top: .5rem;
    border-radius: 50%;
}
.create-player-card-label,
.create-team-card-label {
    margin-top: 1.5rem;
}
.create-player-card-input,
.create-team-card-input {
    background-color: #bfbfbf;
    outline-width: 1px;
    outline-color: #ef38453d;
    font-family: 'Raleway',
    sans-serif;
    font-size: 15px;
    border: none;
    padding: .5rem;
    width: 20rem;
    margin: auto;
    margin-top: .5rem;
    box-sizing: border-box;
    border-radius: 10px;
}
select.create-player-card-input,
select.create-team-card-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.create-player-card-submit-container,
.create-team-card-submit-container {
    display: flex;
    justify-content: end;
    width: 20rem;
    margin: auto;
    margin-top: 1.5rem;
}
.create-player-card-input.submit,
.create-team-card-input.submit {
    background-color: #ef3845;
    border-radius: 10px;
    color: white;
    margin: 0;
    width: 5rem;
}
.create-player-card-page footer,
.create-team-card-page footer {
    margin-top: 2rem;
}
/* _____________ create-player-card & create-team-card Page Styling*/


/* _____________ Invitations Page Styling*/
.invitations-main-main{
    width: 40%;
    margin: auto;
    margin-top: 5rem;
}
.invitation{
    background-color: #bfbfbf;
    text-align: left;
    padding: 1rem 1.25rem;
    margin-top: 2rem;
    border-radius: 10px;
    cursor: pointer;
}
.invitation-default-text{
    font-weight: 500;
}
.invitation-sender{
    font-weight: 300;
    font-style: italic;
}
/* _____________ Invitations Page Styling*/