@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');


body{
    margin: 0;
    font-family: 'Raleway',
    sans-serif;
}
body.index-page{
    background-image: url("./img/home-banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}


/* ______________Navigation styling */

nav{
    position: fixed;

    width: 100%;
    box-sizing: border-box;
    padding: 0 5rem;

    background-color: rgba(6, 33, 68, 0.385);
    box-shadow: 5px 0 25px 0 #010f1ee3;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
#nav-links{
    list-style: none;
    display: flex;
}
#account-links{
    display: flex;
}
.nav-link{
    margin-right: 2.5rem;
    font-weight: 300;
}
/* _____________Navigation styling */



/* _____________ Home Page Styling*/

#home-banner{
    color: white;
    text-align: center;
    padding: 45vh 0;
}

h2{
    font-weight: 700;
}

#home-search{
    padding: .75rem;
    width: 21.5rem;
    border-radius: 15px;
    border-width: 1px;
}

/* The class is for the container element of all 3 cards */
#why-section-cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.why-section-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    flex-shrink: 0;
    
    border-radius: 10px;
    padding: 8rem 0.6rem;
    margin: 0 2rem;

    font-size: 1.2rem;
    font-weight: 700;
    background-size: contain;
    
    /* uses a box shadow to create a color overlay on the background image */
    box-shadow: inset 0 0 0 2000px rgb(110 110 110 / 54%);
}

.why-section-card:nth-child(1){
    background-image: url("./img/why-section-card-1.jpg");
    background-color: rgba(240, 248, 255, 0.713);
}
.why-section-card:nth-child(2){
    background-image: url("./img/why-section-card-2.jpg");
}
.why-section-card:nth-child(3){
    background-image: url("./img/why-section-card-3.jpg");
}

/* this style only applies to buttons in the Why TeamUp Section */
.why-section-card button{
    color: white;
    font-weight: 700;
    font-size: 2rem;

    /* Removes the default background color and and border that usually comes with html buttons */
    background-color: transparent;
    border: none;

    /* transforms the mouse pointer into a hand whenever the user hovers their mouse obver the button */
    cursor: pointer;
}

/* This style applies to the text in the why-section-cards */
.why-section-card p{
    margin: 0 1.5rem;
}
/* _____________ Home Page Styling*/

